html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 h1 {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #007bff; /* Azul llamativo */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    font-weight: bold;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.dashboard-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    min-width: 150px;
}

    .dashboard-card h3 {
        color: #007bff;
        margin: 0;
    }

    .dashboard-card p {
        margin: 5px 0 0 0;
        color: #666;
    }

.main {
    max-width: 100%;
    overflow-x: auto;
}

.main-list li {
    list-style: none;
    border-right: 0.1rem #3b3b3bCF solid;
}

.main-content {
    background-color: #3b3b3b;
    min-height: 100vh;
    list-style:none;
    padding:0.5rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.state_task {
    list-style: none;
    width: 14rem;
    padding: 1rem;
    text-wrap: nowrap;
}

    .state_task h2 {
        font-size: 1rem;
        margin-bottom: 0;
    }

.state_task-title {
    display: flex;
    justify-items: center;
}

.state_task_pending {
    background-color: #df8e64;
}

.state_task_process {
    background-color: #4cb4b7;
}

.state_task_cancel {
    background-color: #da3940;
}

.state_task_revision {
    background-color: #69a1fa;
}

.state_task_complete {
    background-color: #198754;
}

.task {
    background-color: aliceblue;
    padding: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-context{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100;
    background-color:#00000075;
}
body:has(.modal-context){
    overflow:hidden;
}
.close{
    position:absolute;
    top:1rem;
    right:1rem;
    cursor:pointer;
}
.modal-form {
    color: whitesmoke;
    background-color: #1b1e2a;
    left: 25%;
    top: 30%;
    width: 50rem;
    max-width: 100%;
    z-index: 200;
    position: absolute;
    border-radius: 1rem;
    max-height: 100%;
    box-shadow:0px 0px 6px gray;   
}
.input-title {
    background-color: transparent;
    border: 0px solid transparent;
    width:80%;
    color:whitesmoke;
}
.input-title-add-task {
    border: 0px solid transparent;
    width: 80%;
    color: black;
}
.input-select {
    width: 10rem;
    cursor: pointer;
    background-color: #9c9c9c;
}
.alert-danger{
    padding:0.2rem;
    width:fit-content;
}
.btn-float {
    border-radius:100%;
    width:3rem;
    height:3rem;
    font-size:1.5rem;
    position:fixed;
    right:0.5rem;
    bottom:4rem;
}
.level-Media, .level-Baja, .level-Alta {
    width: 2.5rem;
    height:0.75rem;
    border-radius:0.3rem;
}
.level-Baja {
    background: linear-gradient(45deg, skyblue, #418fb0);
}
.level-Media {
    background: linear-gradient(45deg,#26b050, #edb20e);
}
.level-Alta {
    background: linear-gradient(45deg,#edb20e,red);
}